@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

.backdrop{
  background:linear-gradient(233deg, #e56420, #c22525, #3d9c31, #37bbde);
  width:100%;
  height:100vh;
  background-size:cover;
  background-blend-mode: hard-light;
  animation: hue-rotate 8s linear infinite;
  position: absolute;
  @apply -z-10
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
} */


body{
  font-family: 'Quicksand', sans-serif;
  @apply m-0
} 

.back{
  
  background-image: url('/bg2.jpg');
  @apply w-screen h-screen fixed top-0 left-0 -z-10
}
/* .back {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  @apply w-screen h-screen fixed top-0 left-0 -z-10
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}  */
.glassmorphism{
  background: rgba(17, 34, 80, 0.5);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.25),
    inset 0 0 0 0.5px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}
.backdrop {
  @apply absolute w-full h-screen left-0 top-0 glassmorphism
}


nav{
  @apply w-full md:w-14 md:h-screen bg-white md:rounded-tr-3xl md:rounded-br-3xl fixed z-20 shadow-2xl
}

.purple_gradient {
  @apply bg-gradient-to-r from-purple-700 to-orange-600 bg-clip-text text-transparent;
}
.purple_gradient_bg {
  @apply bg-gradient-to-br from-purple-700 to-orange-600
}
main {
  @apply md:pl-14 text-[#fff] pt-14 md:pt-0 /*#212427*/
}
/* 
main > div {
  @apply px-4 md:px-10
} */

i {
  @apply text-2xl text-[#353535]
}

nav a {
  @apply md:my-2 relative w-full flex justify-center items-center py-2 md:py-0 outline-none transition-all
}
nav button{
  @apply my-2
}
nav a.active i{
  @apply purple_gradient
}
nav a.active::before {
  @apply absolute bottom-0 w-full md:left-0 md:w-1 h-1 md:h-full purple_gradient_bg content-[''] rounded-tr-3xl md:rounded-tl-none rounded-tl-3xl md:rounded-br-3xl
}

.component{
  @apply transition-all rounded-3xl p-2 my-2
}

.user_img::before{
  @apply content-[''] w-72 h-72 rounded-full border-b-0 border-l-0 -rotate-12 border-4 border-purple-700 absolute -top-4 -left-4
}



.head_text{
  @apply purple_gradient font-extrabold my-4 capitalize
}

.profile .head_text{
  @apply text-lg
}

.sign{
  @apply flex 
}
.sign .video {
  @apply lg:w-[400px] md:w-[350px] overflow-hidden hidden md:block fixed top-0 left-0
}
.const{
  @apply lg:w-[400px] md:w-[350px] flex-shrink-0
}

form .group{
  @apply flex flex-col relative mb-8
}
form .group.glass input,
form .group.glass textarea,
form .group.glass select{
  @apply bg-glass border-[1px] border-[#353535]
}
form .group input,
form .group textarea,
form .group select{
  @apply px-5 py-3 rounded-lg outline-none border-2 border-gray-500
}
form .group input[type='password']{
  @apply tracking-[.2rem]
}
form .group.glass label{
  @apply bg-transparent text-white backdrop-blur-sm
}
form .group label{
  @apply text-sm capitalize absolute top-3.5 left-4 bg-white px-3 text-gray-500 transition-all rounded-full
  cursor-text select-none
}
form .group input:valid ~ label,
form .group input:focus ~ label,
form .group textarea:valid ~ label,
form .group textarea:focus ~ label,
form .group select:valid ~ label,
form .group select:focus ~ label{
  @apply -top-3.5 left-2
}

.sign button,
button.gradient {
  @apply purple_gradient_bg py-2.5 px-4 rounded-lg text-white font-semibold capitalize
}

.alert{
  @apply z-30 fixed font-semibold w-full bottom-0 left-0 md:bottom-auto md:left-auto md:right-6
  md:max-w-xs md:top-8 bg-white px-5 py-3 rounded-lg md:border-[1px] border-[#8f8f8f] flex 
  justify-center items-center gap-3 md:w-fit
}

.alert.error *{
  @apply text-red-800
}


.alert.success *{
  @apply text-green-800
}


.chat {
  @apply p-0 flex 
}

.chat .right {
  @apply p-5 w-56 h-screen text-[#212427] bg-white md:rounded-tl-3xl md:rounded-bl-3xl z-20 flex-shrink-0 ml-auto shadow-2xl
}
.chat .control_btns button{
  @apply flex gap-2 text-sm items-center my-3
}
.chat .control_btns button i{
  @apply text-[20px]
}

.chat .left{
  @apply w-[21.5rem] border-r-[1px] border-[#323232] px-5 py-3 flex-shrink-0 bg-glass
}

.chat .center {
  @apply w-full h-screen  flex flex-col
}
.chat .center i {
  @apply text-white
}
.chat .center .connection {
  @apply my-0
}
.chat .connection {
  @apply relative
}
.chat .connection.active::before {
  @apply absolute rounded-full right-0 w-2 h-2 purple_gradient_bg content-[''] top-[calc(50%-4px)]
}
input.glass {
  @apply px-5 py-2 outline-none rounded-full bg-glass
}
.chat .center input {
  @apply pl-12 w-full 
}

.chat .center .msg{
  @apply flex flex-col gap-1
}

.chat .center .msg .text {
  @apply max-w-md text-sm bg-glass px-5 py-4 rounded-xl overflow-hidden z-10
}

.chat .center .msg .text.img{
  @apply p-0 
}
.msg span{
  @apply text-gray-500 text-sm font-semibold transition-all
}
.msg .seenin {
  @apply -mb-6 transition-all
}
.msg .sendin {
  @apply -mt-6 transition-all
}
.msg .seenin span {
  @apply ml-14
}
.msg span {
  @apply opacity-0 
}

.chat .msg:hover > .in {
  @apply m-0 delay-1000
}
.chat .msg:hover > .in span{
  @apply opacity-100 delay-1000
}


.chat .center .msg.me .seenin span {
  @apply float-right mr-4
} 

::-webkit-scrollbar {
  @apply w-0
}
/*
::-webkit-scrollbar-thumb {
  @apply w-0
} */

.glassmodel{
  @apply fixed top-0 left-0 h-screen w-[400px] bg-glass pl-20 pr-6 backdrop-blur-md text-white z-10
}


.connection span {
  @apply text-sm
}


button:disabled{
  @apply animate-pulse
}

.notifications .action {
  @apply flex justify-around mt-4
}
.notifications .action button{
  @apply flex items-center font-semibold px-2 rounded-md gap-2 text-[#353535] border-[1px]
  border-transparent
} 

.notifications .action button:last-of-type{
  @apply text-green-800 border-green-800
}

.notifications .action button:last-of-type i{
  @apply text-green-800
}


.user-info .connex img{
  @apply absolute -left-4 top-48 rounded-full object-cover aspect-square last-of-type:w-6 w-8 last-of-type:left-0 last-of-type:top-6
}


.profile .box {
  @apply col-span-6 md:col-span-3 rounded-lg p-6 flex-col flex
}

.profile .box h1{
  @apply text-5xl
}

.profile .box p{
  @apply font-bold my-5 text-lg capitalize
}
.profile .box a{
  @apply mt-auto text-sm text-gray-400 flex items-center gap-3
}
.profile .box a i{
  @apply text-gray-400
}


/* loader  */
.loading{
  @apply h-full w-full flex justify-center flex-col items-center absolute z-10 left-0 top-0 backdrop-blur-lg
}
.circul_loader {
  position: relative;
  width: 100px;
}
.circul_loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
  }
  100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%, 0% {
    stroke: #1a73e8;
  }
  40% {
      stroke: #0F9D58;
  }
  66% {
      stroke: #F4B400;
  }
  80%, 90% {
      stroke: #DB4437;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #1a73e8;
  }
  40% {
      stroke: #0F9D58;
  }
  66% {
      stroke: #F4B400;
  }
  80%, 90% {
      stroke: #DB4437;
  }
}

.ctr {
  @apply flex justify-center my-5
}
.center .ctr p {
  @apply text-white font-bold
}

.postconfig {
  @apply px-20 pt-4
}
.postconfig .formarea {
  @apply my-8 col-span-12 md:col-span-10
}

.imgscol{
  @apply grid grid-cols-12 w-full gap-2
} 

.imgscol .imgcol {
  @apply col-span-12 max-h-[45vh] relative
}
.imgscol.num-3 .imgcol,
.imgscol.num-2 .imgcol {
  @apply max-h-[35vh]
}
.imgscol.num-3 .imgcol:nth-child(3),
.imgscol.num-3 .imgcol:nth-child(2) {
  @apply col-span-6
}
.imgscol img{
  @apply object-cover w-full h-full rounded-lg
}

.imgscol .imgcol button {
  @apply absolute right-0 top-0 p-3
}


.feed .post {
  @apply p-3 bg-glass rounded-2xl flex flex-col gap-3 my-6
}

.feed .post i{
  @apply text-white text-[25px]
}